*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}



/* nav section style */
.nav-section{
    background-color: #1A0B2E;
    border-bottom: 1px solid rgba(138, 86, 115, 0.377);
    
    
    
}
.nav-content{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    
    

}
.home-bar{
    
    display: flex;
    list-style: none;
    gap: 30px;
    color: #FFFFFF;
    
}
.home-bar li{
    
    font-size: 16px;
    
}
.logo-content{
    max-width: 219px;
    font-weight: 700;
    font-size: 28px;
    color: #FFFFFF;
    
}
.logo-content .clr-wave{
    background: linear-gradient(
        120deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        
}
.Subscribe-btn{
   display: flex;
   align-items: center;
   gap: 4px;
   padding: 12px 16px;
   border-radius: 999px;
   border: none;
   color: #FFFFFF;
   background: linear-gradient(
    60deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    cursor: pointer;
    
}

.hamburger-menu{
    display: none;
}

/* hero-section-style */
.hero-section{
    background-image: url('../B13-A02-TechWave/assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    
}


.hero-banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.hero-microphn-img{
    position: relative;
    width: min(90vw, 350px);
    aspect-ratio: 1 / 1;
    
}
.hero-microphn-img .badge {
    position: absolute;
    top: -16px; 
    right: 16px;    
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 12px;
    
}
.hero-microphn-img img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}
.circel-img{
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    
    
}
.microphone-img{
    position: absolute;
    z-index: 2;
    width: 45%; 
    max-width: 100%;            
}
.hero-microphn-img .badge{
    z-index: 3;
    border-radius: 90px;
}





.hero-text-container{
    text-align: center;
    max-width: 550px;
    
}
.hero-text-container h2{
    font-weight: 800;
    font-size: 3.75em;
    color: #FFFFFF;
}
.hero-text-container p{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 80%;
    font-size: 1rem;
}
.hero-btn{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 11px;
    
}
.spotify-btn{
    width: 201PX;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   padding: 12.5px 20px;
   border-radius: 90px;
   border: none;
   color: #FFFFFF;
   background: linear-gradient(
    35deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}
.spotify-btn img{
    background: transparent;
    size: 20px 20px;
}
.Subscribe-btn-2{
   width: 147PX;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   padding: 12.5px 20px;
   border-radius: 999px;
   color: #00FF88;
   border-color: #00FF88;
   background: transparent;
   border-style: solid;
   
}
.Subscribe-btn-2 img{
    width: 18px;
    
}



/* about section style */
.about-container{
    background-color: #1A0B2E;
    
    
}

.about-content{
    
    color: #FFFFFF;
    max-width: 1200px;
    padding-bottom: 4rem;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid rgba(146, 137, 137, 0.185);
    
}

.about-text-content{
    padding-top: 20px;
    font-size: 16px;
    line-height: 1.7;
    opacity: 0.8;
    
}
.break-point{
    padding-top: 40px;
    opacity: 0.8;
}

.about-head{
    font-weight: 700;
    font-size: 3rem;
}
.number-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 80px ;
    text-align: center;

}

.about-number{
    width: 12vw;
}
.number-text{
    font-size: 3rem;
    color: #00FF88;
}
.about-number p{
    color: #FFFFFF;
    opacity: 80%;
    padding-top: 16px;
    font-size: 1rem;
    font-weight: 100;
}

.features-card-section{
    background-color: #230E3D;
    
}
.card-heading{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    gap: 20px;
    max-width: 1200px;
    
    margin: 0 auto;
}

.card-box{
    background: #35116565;
    border-radius: 40px;
    padding: 40px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    
}
.card-box img{
    width: 40px;
}
.card-box p{
    opacity: 60%;
}
.card-box h3{
    font-weight: 700;
    color: #FFFFFF;
    font-size: 1.5rem;
}
.box-1{
    grid-row: span 2;
}
.box-2{
    grid-column: span 2;
}
.box-3{
    grid-column: span 2;
}
.box-4{
    grid-column: span 2;


}



/* video card style */
.Featured-Episodes-section{
    background-color: #1A0B2E;
}
.episode-title{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3rem;
}
.Featured-video-container{
    display: flex;
    max-width: 1200px;
    padding-top: 40px;
    margin: 0 auto;
    
    gap: 30px;
}
.video-card-box{
    background-color: #250D44;
    border-radius: 20px;
    
    
    
}
.video-card-title{
    display: flex;
    flex-direction: column;
    padding: 24px;
    
}
.video-card-title img{
    width: 20px;
}

.video-card iframe{
    border-radius: 20px;
}
.time{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    color: #00FF88;
    font-size: 1rem;
}
.video-card-box-title{
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
    
}

.video-card-title p{
    
    padding-top: 12px;
    font-size: 1rem;
    opacity: 60%;
    color: #FFFFFF;
    line-height: 20px;
}


/* host section design */

.host-section{
    background-color: #1A0B2E;
    
}
.host-section h3{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
    padding: 5% 0 2.5%;
}
.host-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #3511656b;
    padding: 48px 40px;
    gap: 24px;
    border-radius: 20px;
}
.host{
    max-width: 200px;

}
.host-details{
    gap: 24px;
}
.host-details .host-name{
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
}
.host-details p{
    color: #FFFFFF;
    opacity: 60%;
    font-weight: normal;
    font-size: 1rem;
    line-height: 24px;
    padding-top: 16px;
}
.host-icon{
    display: flex;
    gap: 8px;
    max-width: 184px;
    padding-top: 10px;
    transition: all 0.3 ease;
    
    
}
.host-icon img{
    width: 30px;
    border: 1px solid rgba(165, 116, 116, 0.342);
    border-radius: 50%;
    padding: 7px;
    height: 100%;
    cursor: pointer;

}

.host-icon img:hover{
    border-color: #00FF88;
  transform: translateY(-2px);
}

/* footer design */

footer{
  background-color: #1A0B2E;
}
.footer-section{
    
    background-image: url(../B13-A02-TechWave/assets/footer-bg.png);
    
    background-position: center;
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    
}
.footer-logo{
    font-size: 5rem;
    text-align: center;
    

}
.clr-wave{
    background: linear-gradient(
        10deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.company-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 25px;
}
.icon-and-name{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-and-name p{
    font-size: 1rem;
    opacity: 60%;
}
.rights{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 32px;
    font-size: 1rem;
    opacity: 60%;

}

/* hover section */
.hero-btn{
  display: flex;
  gap: 16px;
  margin-top: 30px;
}

button{
  transition: 0.3s ease;
}

.spotify-btn{
  background: linear-gradient(135deg,#FB09B4,#9100F8);
  color: rgb(255, 255, 255);
}

.spotify-btn:hover{
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 15px 40px rgba(251,9,180,0.4);
}

.Subscribe-btn-2:hover{
  background: linear-gradient(135deg,#09fb5a,#9100F8);
  color: white;
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 15px 40px rgba(17, 251, 9, 0.4);
}




/* media query for mobile*/



@media screen and (max-width: 576px){

    .nav-content{
        max-width: 80vw;
        
    }

    .hero-section{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #1b0b30;
        
        padding: 40px 0;

    }
    .home-bar{
        display: none;
        
    }
    .Subscribe-btn{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    .hero-microphn-img{
        width: 200px;
    }
    .hero-text-container{

      max-width: 400px;
    
    }
    
    
    .hero-text-container h2{
        font-size: 2.5rem;
    }

    .hero-section{  
        width: 100%;      
    }
    .hero-microphn-img{
        width: 200px;
    }
    .hero-microphn-img .badge {
        top: -20px;
        right: -5px;
    }
    /* about section responsive */
    .about-text-container{
        max-width: 576px;
    }
    .about-content{
        max-width: 400px;
    }

    .number-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 20px;
        gap: 20px;
    }
    .card-container{
        grid-template-columns: 1fr;
        padding: 20px
    }
    .card-heading{
        font-size: 2rem;
    }
    .episode-title{
        
        font-size: 2rem;
    }
    .Featured-video-container{
        flex-direction: column;
        padding: 24px;
    }
    .host img{
        width: 150px;
    }
    .host-bar{
        flex-direction: column;
        text-align: center;
        max-width: 370px;
    }
    .host-icon{
        flex-direction: row;
        margin: 0 auto;
        
    }


    .footer-section{
        
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #1b0b30;
        
        padding: 40px 0;
    }
    .footer-logo{
        font-size: 3rem;

    }
    .company-icon{
        display: grid;
        gap: 30px;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        padding: 50px;
        size: 0.9rem;
    }
    .icon-and-name{
        width: 15px;
        
    }

}